{% extends 'TucolegioPpalBundle::ppal.html.twig' %}

{% block article %}


	<!-- start: Page Title -->
	<div id="page-title">

		<div id="page-title-inner">

			<!-- start: Container -->
			<div class="container">

				<h2><i class="ico-stats ico-white"></i>¿Quiénes Somos?</h2>

			</div>
			<!-- end: Container  -->

		</div>	

	</div>
	<!-- end: Page Title -->
	
	<!--start: Wrapper-->
	<div id="wrapper">
				
		<!--start: Container -->
    	<div class="container">
	
			<!--start: Row -->
	    	<div class="row">
		
				<div class="span3">
					
					<!-- start: About Us -->
					<div id="about">
						<div class="title"><h3>Conócenos</h3></div>
						<p>
							Somos 4 hermanos, Nicol, Cristian, Andrés y Jairo, y fundamos una empresa junto con mi esposa Nataly, 
                                                        "Tu Compu al día", nuestro objetivo es ser la plataforma de Gestión Escolar más grande de Colombia y brindar 
                                                        los mejores servicios, soporte y acompañamiento a las Instituciones Educativas, con el fin de optimizar el tiempo
                                                        y recursos.
                                                        
                                                        Con la ayuda de Dios, sabemos que lo lograremos
                                                        
						</p>
						
					</div>	
					<!-- end: About Us -->

				

					
					
					
				</div>	
				
				<div class="span9">
					
                                    <!-- start: Team -->	
					<div id="team">
						
						<div class="title"><h3>Equipo</h3></div>
						
						<!-- start: Row -->
						<div class="row">
						
							<!-- start: About Member -->
							<div class="span4">
								<div class="avatar view-team">
									<img src="{{ asset('bundles/tucolegioppal/img/team_member.jpg') }}" alt="team member">
									<div class="mask">
										<h2>Acerca de nosotros</h2>
										<p>
										    Nos casamos en Diciembre de 2012, amamos a Dios por sobre todas las cosas y anhelamos que nuestros conocimientos redunden en el beneficio de los que nos rodean.
										</p>
										<a href="http://tucompualdia.com" class="info" target="_blank">Mi página web</a>
									</div>
								</div>
								<div class="clear"></div>
								<div class="team-name">Jairo y Nataly Fdez <span> / Co-Founder, Project Manager</span></div>
								<div class="social_profiles">
									<ul class="social-bookmarks">
										<li class="facebook"><a href="https://www.facebook.com/jairog12" target="_blank">facebook</a></li>
										
										<li class="googleplus"><a href="https://www.google.com/+JairoFernándezVega" target="_blank">googleplus</a></li>
										
										<li class="twitter"><a href="https://www.twitter.com/jairoalonsog12" target="_blank">twitter</a></li>
										
									</ul>
								</div>	
							</div>
							<!-- end: About Member -->

							<!-- start: About Member -->
							<div class="span4">
								<div class="avatar view-team">
									<img src="{{ asset('bundles/tucolegioppal/img/team_member2.jpg') }}" alt="team member">
									<div class="mask">
										<h2>Acerca de mí</h2>
										<p>
											
                                                                                    <strong>Analista y Desarrollador de Software</strong>
                                                                                <cite>   Existen derrotas, pero nadie está a salvo de ellas. Por eso es mejor perder algunos combates en la lucha por nuestros sueños que ser derrotados sin nisiquiera saber por qué se está luchando - Paulo Coelho</cite>
                                                                                </p>
										<a href="#" class="info">Mi página personal</a>
									</div>
								</div>
								<div class="clear"></div>
								<div class="team-name">Cristhian Fernández R.<span> / Co-Founder, Project Manager</span></div>
								<div class="social_profiles">
									<ul class="social-bookmarks">
										<li class="facebook"><a href="https://www.facebook.com/Cristianfernandez9392" target="_blank">facebook</a></li>
										<li class="flickr"><a href="" target="_blank">flickr</a></li>
										<li class="googleplus"><a href="#" target="_blank">googleplus</a></li>
										<li class="linkedin"><a href="#" target="_blank">linkedin</a></li>
										<li class="twitter"><a href="#" target="_blank">twitter</a></li>
										<li class="pinterest"><a href="#" target="_blank">pinterest</a></li>
									</ul>
								</div>	
							</div>
							<!-- end: About Member -->	
						
                                               <div class="span4">
								<div class="avatar view-team">
									<img src="{{ asset('bundles/tucolegioppal/img/team_member3.jpg') }}" alt="team member">
									<div class="mask">
										<h2>Acerca de mí</h2>
										<p>
								Me apasiona el deporte, y las buenas cosas, soy Policía, amo a mi familia y anhelo darles lo mejor, me acompaña mi gran inspiración. 			
                                                                                </p>
										<a href="#" class="info">Mi página personal</a>
									</div>
								</div>
								<div class="clear"></div>
								<div class="team-name">Andrés Fernández V.<span> / Co-Founder, Socio</span></div>
								<div class="social_profiles">
									<ul class="social-bookmarks">
										<li class="facebook"><a href="https://www.facebook.com/andres.fernandez.35574" target="_blank">facebook</a></li>
										<li class="flickr"><a href="" target="_blank">flickr</a></li>
										<li class="googleplus"><a href="#" target="_blank">googleplus</a></li>
										<li class="linkedin"><a href="#" target="_blank">linkedin</a></li>
										<li class="twitter"><a href="#" target="_blank">twitter</a></li>
										<li class="pinterest"><a href="#" target="_blank">pinterest</a></li>
									</ul>
								</div>	
							</div>
							<!-- end: About Member -->         
                                                        
                                                        
						</div>
						<!-- end: Row -->

					</div>
					<!-- end: Team -->
					

                                    
                                    
                                    
					
                                </div>
					<!-- end: Sidebar -->
					
				</div>
				
			</div>
			<!--end: Row-->
	
		</div>
		<!--end: Container-->
				
		<!--start: Container -->
    	<div class="container">	
      		
			<hr>
		
			
		
			<hr>
		
		</div>
		<!--end: Container-->	

	</div>
	<!-- end: Wrapper  -->	




{% endblock %}