{% extends 'TemasTemasBundle::admin.html.twig' %}
{% block span %}
span8
{% endblock %}
{% block article %}

    <h1>Lista de Docentes</h1>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Sede</th>
                <th>Materia</th>
                <th>Nombres</th>
                
                <th>Telefono</th>
                <th>Email</th>
               
                <th>Estado</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('docente_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.idSede }}</td>
                <td>{{ entity.idMateria }}</td>
                <td>{{ entity.nombres }} {{ entity.apellidos }}</td>
                
                <td>{{ entity.telefono }}</td>
                <td>{{ entity.email }}</td>
                
                <td>{{ entity.isActive }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('docente_show', { 'id': entity.id }) }}" ><i class="icon-list"> </i></a>
                    </li>
                    <li>
                        <a href="{{ path('docente_edit', { 'id': entity.id }) }}"><i class="icon-edit"> </i></a>
                    </li>
                    <li>
                        <a href="{{ path('docente_grupos', { 'id': entity.id }) }}"><i class="icon-group"></i></a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('docente_new') }}">
                <i class="icon-plus-sign"></i>
                Crear un nuevo Docente
            </a>
        </li>
    </ul>
    {% endblock %}
    
    
    
  {% block extras %}  
    
    {% if grupos != null %}
    
    {% embed 'TemasTemasBundle::span.html.twig' %}
        {% block spanclase %}
            span4
        {% endblock %}
        {% block headerspan %}
            <i class="icon-group"></i><h3> Detalle Grupos de {{ profe.nombres }} {{ profe.apellidos }}</h3>
        {% endblock %}
        {% block articlespan %}
           
             <table class="table table-striped table-bordered">
        <thead>
            <tr>
                
                <th>Grupo</th>
                
            </tr>
        </thead>
        <tbody>
        {% for entity in grupos %}
            <tr>
                
                <td>{{ entity.nombre }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
            
        {% endblock %}
    {% endembed %}
             {% else %}
           
       {% embed 'TemasTemasBundle::span.html.twig' %}
        {% block spanclase %}
            span4
        {% endblock %}
            
        {% block articlespan %}
            
                {% if grupos == null %}
            <h3>   No hay grupos para el Docente  </h3>
                {% else %}
            <h3>Acá se cargarán los grupos del Docente</h3>
                {% endif %}     
            
        {% endblock %}            
       {% endembed %}
            
            
      {% endif %}
            
  {% endblock %}
      