{% extends "::base2.html.twig" %}

{% block stylesheets %}

{% stylesheets output='css/stylestudiante.css' filter='cssrewrite,yui_css' debug=false 
'bundles/colegioestudiante/css/bootstrap.css'
'bundles/colegioestudiante/css/sb-admin.css'
'bundles/colegioestudiante/font-awesome/css/font-awesome.min.css'
 -%}
    <link href="{{ asset_url }}" rel="stylesheet" type="text/css" media="screen" />
{% endstylesheets %}

{% endblock %}

{% block body %}

     <div id="wrapper">

      <!-- Sidebar -->
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ path('tucolegio_ppal_homepage') }}">Tu Colegio al día</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav side-nav">
            <li><a href=""><i class="fa fa-dashboard"></i> Panel</a></li>
            
            <li><a href=""><i class="fa fa-table"></i> Tareas</a></li>
            <li><a href=""><i class="fa fa-edit"></i> Circulares</a></li>
            <li><a href=""><i class="fa fa-font"></i> Boletines</a></li>
            <li><a href=""><i class="fa fa-desktop"></i> Productos</a></li>
            <!--<li><a href="bootstrap-grid.html"><i class="fa fa-wrench"></i> Bootstrap Grid</a></li>
            <li class="active"><a href="blank-page.html"><i class="fa fa-file"></i> Blank Page</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-caret-square-o-down"></i> Dropdown <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Dropdown Item</a></li>
                <li><a href="#">Another Item</a></li>
                <li><a href="#">Third Item</a></li>
                <li><a href="#">Last Item</a></li>
              </ul>
            </li>-->
          </ul>

          <ul class="nav navbar-nav navbar-right navbar-user">
            <li class="dropdown messages-dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> Mensajes <span class="badge">7</span> <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li class="dropdown-header">Mensajes</li>
                <li class="message-preview">
                  <a href="#">
                    <span class="avatar"><img src="http://placehold.it/50x50"></span>
                    <span class="name">Danilo:</span>
                    <span class="message">Hey there, I wanted to ask you something...</span>
                    <span class="time"><i class="fa fa-clock-o"></i> 4:34 PM</span>
                  </a>
                </li>
                <li class="divider"></li>
                <li class="message-preview">
                  <a href="#">
                    <span class="avatar"><img src="http://placehold.it/50x50"></span>
                    <span class="name">John Smith:</span>
                    <span class="message">Hey there, I wanted to ask you something...</span>
                    <span class="time"><i class="fa fa-clock-o"></i> 4:34 PM</span>
                  </a>
                </li>
                <li class="divider"></li>
                <li class="message-preview">
                  <a href="#">
                    <span class="avatar"><img src="http://placehold.it/50x50"></span>
                    <span class="name">{{ app.user }}</span>
                    <span class="message">Hey there, I wanted to ask you something...</span>
                    <span class="time"><i class="fa fa-clock-o"></i> 4:34 PM</span>
                  </a>
                </li>
                <li class="divider"></li>
                <li><a href="#">Ver Inbox <span class="badge">7</span></a></li>
              </ul>
            </li>
            <li class="dropdown alerts-dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> Alertas <span class="badge">3</span> <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Default <span class="label label-default">Default</span></a></li>
                <li><a href="#">Primary <span class="label label-primary">Primary</span></a></li>
                <li><a href="#">Success <span class="label label-success">Success</span></a></li>
                <li><a href="#">Info <span class="label label-info">Info</span></a></li>
                <li><a href="#">Warning <span class="label label-warning">Warning</span></a></li>
                <li><a href="#">Danger <span class="label label-danger">Danger</span></a></li>
                <li class="divider"></li>
                <li><a href="#">View All</a></li>
              </ul>
            </li>
            <li class="dropdown user-dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{ app.user }} <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href=""><i class="fa fa-user"></i> Perfil</a></li>
                <li><a href="#"><i class="fa fa-envelope"></i> Inbox <span class="badge">7</span></a></li>
                
                <li class="divider"></li>
                <li><a href="{{ path('estudiante_logout') }}"><i class="fa fa-power-off"></i> Salir </a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </nav>

      <div id="page-wrapper">

        <div class="row">
          <div class="col-lg-12">
            <h1>Hola <small>{{ app.user }}</small></h1>
            <ol class="breadcrumb">
              <li><a href=""><i class="icon-dashboard"></i> Panel</a></li>
              
            </ol>
            <div class="alert-success">
         
            </div>
          </div>
        </div><!-- /.row -->

   

      {% block contenido %}
      
      {% endblock %}
         </div><!-- /#page-wrapper -->
      
    </div><!-- /#wrapper -->
    
    
{% endblock %}
    
    
    
   
{% block javascripts %}
{% javascripts output='js/scriptestudiantes.js' filter='yui_js' 
debug=false
'bundles/colegioestudiante/js/jquery-1.10.2.js'
'bundles/colegioestudiante/js/bootstrap.js'
'bundles/colegioestudiante/js/tablesorter/jquery.tablesorter.js'
'bundles/colegioestudiante/js/tablesorter/tables.js'
-%}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}