{% extends '::base.html.twig' %}
{% block stylesheets %}

{% stylesheets output='css/adminstyle.css' filter='cssrewrite,yui_css' debug=false 
'bundles/temastemas/css/bootstrap.min.css'
'bundles/temastemas/css/bootstrap-responsive.min.css'
'bundles/temastemas/css/font-awesome.css'
'bundles/temastemas/css/style.css'
'bundles/temastemas/css/pages/dashboard.css'
 -%}
    <link href="{{ asset_url }}" rel="stylesheet" type="text/css" media="screen" />
{% endstylesheets %}

{% endblock %}

{% block body -%}
    
    <div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container"> <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span
                    class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span> </a><a class="brand" href="{{ path('tucolegio_ppal_homepage') }}">Tu Colegio al Día </a>
      <div class="nav-collapse">
        <ul class="nav pull-right">
          <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
                            class="icon-cog"></i> Cuenta <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="javascript:;">Opciones</a></li>
              <li><a href="javascript:;">Ayuda</a></li>
            </ul>
          </li>
          <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
                            class="icon-user"></i> {{ app.user }} <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="{{ path('colegio_admin_perfil')}}">Perfil</a></li>
              <li><a href="{{ path('usuarios_logout')}}">Cerrar Sesión</a></li>
            </ul>
          </li>
        </ul>
        <form class="navbar-search pull-right">
          <input type="text" class="search-query" placeholder="Search">
        </form>
      </div>
      <!--/.nav-collapse --> 
    </div>
    <!-- /container --> 
  </div>
  <!-- /navbar-inner --> 
</div>
   
<!-- /navbar -->
<div class="subnavbar">
  <div class="subnavbar-inner">
    <div class="container">
      <ul class="mainnav">
   {% if is_granted('ROLE_SUPER_ADMIN') %}


        
        <li class="active"><a href="{{ path('usuarios_usuarios_homepage') }}"><i class="icon-dashboard"></i><span>Panel</span> </a> </li>
        <li><a href="{{ path('usuarios')}}"> <i class="icon-list-alt"></i><span>Usuarios</span> <b class="caret"></b></a>
          
        <li><a href="{{ path ('tipousuario') }}"><i class="icon-bar-chart"></i><span>Tipo Usuario</span> </a></li>
        <li><a href="{{ path ('tipoidentificacion') }}"><i class="icon-bar-chart"></i><span>Tipo Identificación</span> </a></li>
        <li class="dropdown"><a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown"> <i class="icon-folder-open"></i><span>Colegio</span> <b class="caret"></b></a>
         <ul class="dropdown-menu">
            <li><a href="{{ path('colegio')}}">Crear</a></li>
            <li><a href="{{ path('tipocolegio')}}">Tipo Colegio</a></li> 
            <li><a href="{{ path('nivel')}}">Niveles</a></li>   
            
                     
          </ul>
        
        <li class="dropdown"><a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown"> <i class="icon-folder-open"></i><span>Socio Económico</span> <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="{{ path('estrato')}}">Estrato</a></li>
            <li><a href="{{ path('departamento')}}">Departamento</a></li> 
            <li><a href="{{ path('localidad')}}">Localidad</a></li>   
            <li><a href="{{ path('municipio')}}">Municipio</a></li>
                     
          </ul>
        </li>
       
        
        
        
   {% else %}
        <li class="active"><a href="{{ path('colegio_admin_homepage') }}"><i class="icon-dashboard"></i><span>Panel</span> </a> </li>
        <li><a href="{{ path('grupo')}}"> <i class="icon-list-alt"></i><span>Grupos</span> <b class="caret"></b></a>
        <li><a href="{{ path ('boletin') }}"><i class="icon-bar-chart"></i><span>Boletines</span> </a></li>
        {# <li><a href="#"><i class="icon-code"></i><span>Otros</span> </a> </li> #}
        <li><a href="{{ path ('estudiante') }}"><i class="icon-user"></i><span>Estudiantes</span> </a></li>
        <li><a href="{{ path ('docente') }}"><i class="icon-pencil"></i><span>Docentes</span> </a></li>
        <li><a href="{{ path ('asignatura') }}"><i class="icon-book"></i><span>Asignaturas</span> </a></li> 
   {% endif %}
      </ul>
    </div>
    <!-- /container --> 
  </div>
  <!-- /subnavbar-inner --> 
</div>
<!-- /subnavbar -->    
    <div class="main">
	
	<div class="main-inner">

	    <div class="container">
	
	      <div class="row">
                  <div class="span8" style="align:center">
{% for flashMessage in app.session.flashbag.get('notice') %}                  
                  <div class="alert alert-info"><strong>{{ flashMessage }}</strong></div>
{% endfor %}
                  </div>
                  <div class="span4">
                      {% if is_granted('ROLE_PREVIOUS_SUPER_ADMIN') %}
                         <a href="{{ path('colegio_admin_homepage', { _switch_user: '_exit' }) }}">Finalizar impersonación</a>
                      {% endif %}
                      
                  </div>
                  
 {% block superarticle %}
                  {# Bloque con un span de 12 #}
                  <div class="{% block span %}
                                   span12
                               {% endblock %} ">      		
	      		
                    
                    
	      		<div class="widget ">
	      			
	      			<div class="widget-header">
	      			{% block headerarticle %}	
                                    <i class="icon-user"></i>
                                        <h3>
                                           {{ app.user|upper }}
                                        </h3>
                                 {% endblock %}
                                 </div> <!-- /widget-header -->
                                 
					
					<div class="widget-content">

     {% block article %}

                                 

   
                    
     {% endblock %}
             
                                            
                                            
                                            
                                        </div>
                        </div>
                </div>
 {% endblock %}
                
                
            {% block extras %}
                                            
              {% endblock %}     
                
                
              </div>
            </div>
        </div>
    </div>

<div class="extra">
  <div class="extra-inner">
    <div class="container">
      <div class="row">
                    <div class="span4">
                        <h4>
                            Acerca de Tu compu al día</h4>
                        <ul>
                            <li><a href="javascript:;">Nuestra Empresa</a></li>
                            <li><a href="javascript:;">Portafolio de Servicios</a></li>
                            
                        </ul>
                    </div>
                    <!-- /span3 -->
                    <div class="span4">
                        <h4>
                            Soporte</h4>
                        <ul>
                            <li><a href="javascript:;">Tutoriales</a></li>
                            <li><a href="javascript:;">Escríbenos</a></li>
                            <li><a href="javascript:;">Videos</a></li>
                            <li><a href="javascript:;">Noticias</a></li>
                        </ul>
                    </div>
                    <!-- /span3 -->
                    <div class="span4">
                        <h4>
                            Soporte Legal</h4>
                        <ul>
                            <li><a href="javascript:;">Open Source</a></li>
                            <li><a href="javascript:;">Términos de uso</a></li>
                        </ul>
                    </div>
                    <!-- /span3 -->

                </div>
      <!-- /row --> 
    </div>
    <!-- /container --> 
  </div>
  <!-- /extra-inner --> 
</div>
<!-- /extra -->
<div class="footer">
  <div class="footer-inner">
    <div class="container">
      <div class="row">
        <div class="span12"> Gracias a &copy; 2013 <a href="#">Bootstrap Responsive Admin Template</a>. </div>
        <!-- /span12 --> 
      </div>
      <!-- /row --> 
    </div>
    <!-- /container --> 
  </div>
  <!-- /footer-inner --> 
</div>
<!-- /footer --> 

{% endblock %}

{% block javascripts %}
{% javascripts output='js/adminscript.js' filter='yui_js' 
debug=false
'bundles/temastemas/js/jquery-1.7.2.min.js'
'bundles/temastemas/js/excanvas.min.js'
'bundles/temastemas/js/chart.min.js'
'bundles/temastemas/js/bootstrap.js'
-%}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}