{% extends 'TemasTemasBundle::admin.html.twig' %}

{% block article %}
    <h1>Listar Tipo Identificación</h1>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Tipode identificación</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('tipoidentificacion_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.tipoIdentificacion }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('tipoidentificacion_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('tipoidentificacion_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('tipoidentificacion_new') }}">
                Crear nuevo
            </a>
        </li>
    </ul>
    {% endblock %}
