{% extends 'TemasTemasBundle::admin.html.twig' %}

{% block article %}
    <h1>Tipo Identificacion</h1>

    <table class="table table-striped table-bordered">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Tipoidentificacion</th>
                <td>{{ entity.tipoIdentificacion }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('tipoidentificacion') }}">
            Volver al listado
        </a>
    </li>
    <li>
        <a href="{{ path('tipoidentificacion_edit', { 'id': entity.id }) }}">
            Editar
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
