{% extends 'TemasTemasBundle::admin.html.twig' %}

{% block span %}
span12
{% endblock %}

{% block headerarticle %}
    <h3>Lista de Estudiantes</h3>
{% endblock %}
{% block article %}
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                 <th>Usuario</th>
                <th>Tipo Identificación</th>
                 
                <th>Nombres</th>
               
                <th>Apellidos</th>
                
                <th>Telefono</th>
                <th>Email</th>
                <th>Nui</th>
                <th>Nuip</th>
              
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('estudiante_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.username }}</td>
                <td>{{ entity.idTipoIdentificacion }} {{ entity.numeroDocumento }}</td>
                <td>{{ entity.primerNombre }} {{ entity.segundoNombre }}</td>
                
                <td>{{ entity.primerApellido }} {{ entity.segundoApellido }}</td>
                
                <td>{{ entity.telefono }}</td>
                <td>{{ entity.email }}</td>
                <td>{{ entity.nui }}</td>
                <td>{{ entity.nuip }}</td>
               
                <td>
                <ul>
                    {#
                    <li>
                        <a href="{{ path('estudiante_show', { 'id': entity.id }) }}" ><i class="icon-list"> </i></a>
                    </li>
                    #}
                    <li>
                        <a href="{{ path('estudiante_shownotas', { 'id': entity.id }) }}" ><i class="icon-bar-chart"> </i></a>
                    </li>
                    <li>
                        <a href="{{ path('estudiante_edit', { 'id': entity.id }) }}"><i class="icon-edit"> </i></a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('estudiante_new') }}">
                <i class="icon-plus-sign"></i>
                Crear un nuevo estudiante
            </a>
        </li>
    </ul>
{% endblock %}

    
{% block extras %}
          
{% if notas != null %}
    
{% embed 'TemasTemasBundle::span.html.twig' %}
            
{% block spanclase %}
    span6
{% endblock %}        
    
{% block headerspan %}
    <i class="icon-th-list"></i><h3> Notas</h3>
{% endblock %}

{# bloque del contenido, por defecto vacio #}
{% block articlespan %}

<table class="table table-striped table-bordered">
    <tbody>
        <tr>
            <th>Id</th>
            <th>Estudiante</th>
            <th>Asignatura</th>
            <th>Calificación</th>
            <th>Descripción</th>
        </tr>
        {% for nota in notas %}
            <tr>

                <td>{{ nota.id }}</td>
                <td>{{ nota.idEstudiante }}</td>
                <td>{{ nota.idAsignatura }}</td>
                <td>{{ nota.calificacion }}</td>
                <td>{{ nota.descripcion }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>


    {% endblock %}
{% endembed %}
{% endif %}

{% endblock %}    