{% extends '::tucompu.html.twig' %}

{% block stylesheets %}

{% stylesheets output='css/tucolegiostyle.css' filter='cssrewrite,yui_css' debug=false 
'bundles/tucolegioppal/css/bootstrap.css'
'bundles/tucolegioppal/css/bootstrap-responsive.css'
'bundles/tucolegioppal/css/style.css'
'bundles/tucolegioppal/css/parallax-slider.css'
'bundles/tucolegioppal/css/hover.css'
'bundles/tucolegioppal/css/icons.css'
'bundles/tucolegioppal/css/icons-color.css'
'bundles/tucolegioppal/css/social-icons.css'
 -%}
    <link href="{{ asset_url }}" rel="stylesheet" type="text/css" media="screen" />
{% endstylesheets %}

{% endblock %}

{% block body -%}
    
    {% block article %}
    
    {% endblock %}
    
{% endblock %}
                
{% block javascripts %}
{% javascripts output='js/tucolegioscript.js' filter='yui_js' 
debug=false
'bundles/tucolegioppal/js/jquery-1.8.2.js'
'bundles/tucolegioppal/js/bootstrap.js'
'bundles/tucolegioppal/js/jquery.cslider.js'
'bundles/tucolegioppal/js/slider.js'
'bundles/tucolegioppal/js/flexslider.js'
'bundles/tucolegioppal/js/carousel.js'
'bundles/tucolegioppal/js/custom.js'
-%}
    <script src="{{ asset_url }}"></script>
    
{% endjavascripts %}
{% endblock %}
    
