{% extends 'TemasTemasBundle::admin.html.twig' %}

{% block article %}

    <h1>Editar Asignatura</h1>
    {{ form_start(edit_form) }}
    {# {{ form(edit_form) }} #}
         {{ form_row(edit_form.idNivel) }}
        {{ form_row(edit_form.idSede) }}
        {{ form_row(edit_form.idDocenteResponsable) }}
        {{ form_row(edit_form.nombre) }}
        {{ form_row(edit_form.activo) }}
{#        {{ form_row(edit_form.gruposAsignaturas) }} #}
{#
    <ul class="tags" id="productos-fields-list" data-prototype="{{ form_widget(edit_form.gruposAsignaturas.vars.prototype) |e }}">
        
    </ul>
        <a href="#" id="add-another-producto" class="">Añadir Materias</a>
  #}  
    
    
    {{ form_end(edit_form) }}
    {{ form(delete_form) }}

    <a href="{{ path('grupo') }}"><i class="icon-arrow-left"> Volver a la lista</i></a>

{% endblock %}
{#{% block javascripts %}
    {{ parent() }}
        
<script type="text/javascript">
    // keep track of how many email fields have been rendered
    var productosCount = '{{ edit_form.gruposAsignaturas | length }}';

    jQuery(document).ready(function() {
        jQuery('#add-another-producto').click(function() {
            var productosList = jQuery('#productos-fields-list');

            // grab the prototype template
            var newWidget = productosList.attr('data-prototype');
            // replace the "__name__" used in the id and name of the prototype
            // with a number that's unique to your emails
            // end name attribute looks like name="contact[emails][2]"
            newWidget = newWidget.replace(/__name__/g, productosCount);
            productosCount++;

            // create a new list element and add it to the list
            var newLi = jQuery('<li></li>').html(newWidget);
            newLi.appendTo(jQuery('#productos-fields-list'));

            return false;
        });
    })
</script>
{% endblock %} #}